<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				<li><a href="/cv">Resume</a></li>
	        		<li><a href="/cv">Projects</a></li>
	        		<li><a href="/blog">Experiences</a></li>
				<li><a href="/blog">Connect</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dvorjackz@ucla.edu">email</a></li>
				<li><a href="https://linkedin.com/in/dvorjackz">linkedin.com/in/dvorjackz</a></li>
	        		<li><a href="https://github.com/dvorjackz">github.com/dvorjackz</a></li>
				</ul>
			</footer>
		</body>
	</html>
